<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
  <testsuites>
    <testsuite name="PostgreSQLDoctrine">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>
</phpunit>
